*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#slider{
    width: 600px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border: 4px solid #333;
    border-radius: 10px;
    display: flex;
}

.slideItem{
    position: relative;
}

.slideItem h3{
    position: absolute;
    bottom: 10px;
    left:10px;
    color: #fff;
    background-color: #333;
    font-size: 15px;
    padding: 10px;
    border:2px solid #fff;
    border-radius: 10px;
}